In [1]:
import arcpy
from arcgis.gis import GIS

# Spatial Data Frames rely on this import
from arcgis.features import SpatialDataFrame

# Spatially Enabled DataFramres rely on these imports
import pandas as pd
from arcgis.features import GeoAccessor, GeoSeriesAccessor

In [2]:
arcpy.env.workspace = "data/sedf_example.gdb"

In [3]:
# List the layers in your working directory

fclist = arcpy.ListFeatureClasses()
print(fclist)

['storm_points', 'watersheds']

In [4]:
# SpatialDataFrames are read in this way:

sdf = SpatialDataFrame.from_featureclass('watersheds')
sdf.head(2)

C:\Program Files\ArcGIS\Pro\bin\Python\envs\arcgispro-py3\lib\site-packages\arcgis\features\_data\geodataset\geodataframe.py:221: UserWarning: SpatialDataFrame has been deprecated.  Please switch to the GeoAccessor/GeoSeriesAccessor.
  warnings.warn("SpatialDataFrame has been deprecated.  Please switch to the GeoAccessor/GeoSeriesAccessor.")

,OBJECTID,Watershed,TMDL_Water,Phase,Area_Ac,TIA_Ac,TIA_Pct,GlobalID,SHAPE
0,1,Roanoke River above Masons Creek,Roanoke River 2,,40530.632918,0.0,0.0,a6b2fd42-5f46-4486-9101-77d3554abd41,"{'rings': [[[11024671.733272344, 3652589.89073..."
1,2,Back Creek,Back Creek,,37561.660519,0.0,0.0,abbb57b8-7d38-4ed4-b70d-d41ed83ea617,"{'rings': [[[11086384.49403292, 3616511.612173..."

In [5]:
# Spatially Enabled DataFrames are read in this way:

sedf = pd.DataFrame.spatial.from_featureclass("watersheds")
sdf.head(2)

,OBJECTID,Watershed,TMDL_Water,Phase,Area_Ac,TIA_Ac,TIA_Pct,GlobalID,SHAPE
0,1,Roanoke River above Masons Creek,Roanoke River 2,,40530.632918,0.0,0.0,a6b2fd42-5f46-4486-9101-77d3554abd41,"{'rings': [[[11024671.733272344, 3652589.89073..."
1,2,Back Creek,Back Creek,,37561.660519,0.0,0.0,abbb57b8-7d38-4ed4-b70d-d41ed83ea617,"{'rings': [[[11086384.49403292, 3616511.612173..."